<h1>Edit Article</h1>
<%= render "form", article: @article %>
<br>
<%= link_to("back to list", articles_path, class: "btn btn-outline-secondary btn-sm") %>
<%= link_to("back to article", article_path(@article), class: "btn btn-outline-secondary btn-sm") %>
<%= link_to("delete article", article_path(@article), method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "Are you sure?" }) %>
